.container {
    width: 100%;
    max-width: var(--boxed-size);
    margin: 0 auto;

    .new {
        margin: 30px 0;

        .modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.603);
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;

            .modalContent {
                width: 100vw;
                max-height: 70vh;
                max-width: var(--boxed-size);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--background100);
                box-sizing: border-box;
                padding: 70px 50px 20px 50px;

                input, textarea {
                    box-sizing: border-box;
                    width: 100%;
                    max-width: var(--boxed-size);
                    padding: 10px 20px;
                    background-color: var(--background90);
                    resize: none
                }
                textarea {
                    height: 100%;
                    max-height: 150px;
                }
    
                .actions {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 5px;
                    padding: 10px 0;
                }
            }
        }
        
    }
    .cancel {
        background: var(--background20);
    }
    .content {
        background-color: var(--background100);

        .equipments {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            padding: 10px 20px;
            
            &.underline {
                border-bottom: 1px solid var(--background90);
            }
    
            &.header {
                padding: 10px 20px;
                font-weight: 600;
                position: sticky;
                top: -10px;
                color: var(--detach100);
                background-color: var(--background90);
                span {
                    font-size: 0.875rem;
                }
            }
    
            span {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.875rem;
            }
            .agent {
                flex: 1;
            }
            .date {
                flex: 0.5;
            }
            .action {
                flex: 0;
            }
        }
    }
}