:root {
    --text100: #2222;
    --text90: #555;
    --text80: #888;
    --text0: #fff;

    --background100: #ebebeb;
    --background90: #cfcfcf;
    --background20: #595959;
    --background-overlay: #0000009a;

    --detach100: #a50700;
    --detach90: #e4261a;

    --boxed-size: 800px;
}