.container {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 0.875rem;
    color: var(--text0);
    background-color: var(--detach100);
    transition: 0.4s;
    
    &:hover {
        background-color: var(--detach90);
    }
}