.container {
    width: 100%;
    max-width: var(--boxed-size);
    margin: 0 auto;

    .new {
        margin: 30px 0;

        > div {
            display: grid;
            grid-template-columns: 1fr auto auto;
            align-items: center;
            gap: 5px;
            margin: 10px 0;
    
            input {
                padding: 10px 20px;
                background-color: var(--background100);
            }
        }
        
    }
    .cancel {
        background: var(--background20);
    }
    .content {
        background-color: var(--background100);

        .agents {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 15px;
            padding: 10px 20px;
            
            &.underline {
                border-bottom: 1px solid var(--background90);
            }
    
            &.header {
                padding: 10px 20px;
                font-weight: 600;
                position: sticky;
                top: -10px;
                color: var(--detach100);
                background-color: var(--background90);
                span {
                    font-size: 0.875rem;
                }
            }
    
            span {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.875rem;
            }
            .agent {
                flex: 1;
            }
            .date {
                flex: 0.5;
            }
            .action {
                flex: 0;
            }
        }
    }
}